html *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    display: flex;
    width: 80%;
    align-items: center;
    margin: 10vh auto;
}
.video{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.descripcion{
    display: flex;
    width: 70%;
    flex-direction: column;
}
h3{
    font-size: 30px;
    padding-bottom: 15px;
}
p{
    font-size: 20px;
}
.btn-play{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.rep-video{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
video:focus{
    outline: none;
}
.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

/* ############################################ RESPONSIVE ############################################  */
@media(max-width: 720px){
    .contenedor{
        flex-direction: column;
    }
    .descripcion{
        width: 70%;
        padding: 15px 10px;
        justify-content: center;

    }
}